yfinance
pandas
pandas_ta
streamlit
plotly
pytz
numpy<2.3
websocket-client==0.56.0
https://github.com/Lu-Yi-Hsun/iqoptionapi/archive/master.zip
streamlit-autorefresh
fastapi
uvicorn
python-multipart
exponent_server_sdk
